$main-borders: 2px solid black;

.d-none {
    display: none;
}

.response {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    border: $main-borders;
    
    div {
        border: $main-borders;

        text-align: center;
        
    }

}