@import 'vars.scss';

@font-face {
    font-family: Matrix;
    src: url("../../fonts/Matrix.ttf");
    src: url("../../fonts/Matrix.eot"),
         url("../../fonts/MATRIX.svg"),
         url("../../fonts/MATRIX.woff");
}

body {
    padding: 0;
    margin: 0;

    font-family: Matrix;
    font-size: 25px;
    color: $primary-color;
    text-shadow: 1px 1px 10px whitesmoke;
}


.names {
    text-align: center;

    border: $main-borders;
}

.opening {
    flex-direction: column;
    align-items: center;
}

%flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}   
    

.d-none {
    display: none;
}
.d-flex {
    display: flex;
}

.app {
    @extend %flex;
    padding: $paddings;
    height: auto;

    background-image: url("../../public/images/M.png");
    background-repeat: no-repeat;
    background-position: center;

}

.form {
    display: flex;
    align-items: center;

    .data0 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        }
    }

.bg {
    background-image: url("../../public/images/matrix.gif");
}

.response {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 60px;
    border: $main-borders;
    
    div {
        border: $main-borders;

        text-align: center;
        
    }

}

button, .styleX, .styleY {
    padding: 15px;
    background: #000;
    color: #0f0;
    display: inline-block;
    font-weight: bold;
    border-radius: 4px;
    width: max-content;
    text-align: center;
}

.styleY {
    width: 50px;
}

.changerR input[type="checkbox"] {
    display: none;
}

.changerR label {
    padding-left: 20px;
}

.changerR label::before {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;

    transition: 0,2s ease;

    content: '';
    background-image: url("../../public/images/bluepill.png");
    @extend %bgimage;    
}

.changerR input[type="checkbox"]:checked + label::before {

    content:'';
    background-image: url("../../public/images/redpill.png");
    @extend %bgimage;
}



