$main-borders: 3px solid #20ad13;
$paddings: 5rem 2rem 5rem 2rem;
$primary-color: #0f0;

//pattern
%bgimage {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
}